{% extends 'main/base.html' %}

{% block title %}
{{ product.title }}
{% endblock %}

{% block content %}
{% include 'main/components/navbar.html' %}
<div class = "container  purchase-card" style="margin-top: 30px;">
    <div class="card mb-3">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" data-bs-theme="light">
        <div class="card-body">
            <br>
            <h1 class="card-title">{{ product.title }} 
            </h1>
            <p class="card-text">{{ product.description }}</p>
           <h1><p class="card-text"><small class="text-muted">Rs. {{ product.price }}</small></p></h1> 
           <a href="/confirmation/{{ product.id }}" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>
<style>
    .purchase-card {
        height: 20%;
        width: 30%;
        object-fit: scale-down;
    }
</style>
{% endblock %}